/* general text formatting */
*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}
 
body {
   font-family: "Lucida Sans", Verdana, Arial, white;
   font-size: 85%;
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/aboutUs.png);
   height: 100vh;
   background-size: cover;
   background-position: center;
}

ul{
   float: right;
   list-style-type: none;
   margin-top: 25px;

}

ul li{
   display: inline-block;
}

ul li a{
   text-decoration: none;
   color: #fff;
   padding: 5px 20px;
   border: 1px solid transparent;
   transition: 0.6s ease;
}

ul li a:hover{
   background-color: #fff;
   color: #000;
}

ul li.active a{
   background-color: #fff;
   color: #000;
}

.logo img{
   float: left;
   width: 10em;
   height: auto;
}

.main{
   max-width: 1200px;
   margin: auto;
}

.title{
   position: absolute !important;
   float: left;
   padding-left: 41%;
   top: 10%;
   width: 50%;
   color: #fff !important;
   font-size:45px;
}
}
.title h1{
   color: #fff !important;
   font-size:45px;
}
.div-container {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 0px
}
.container{
  position: relative;
  margin:0 auto;
  height: 650px;
  width: 950px;
}

.meet-team {
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  top: 70%;
  left: 50%;
  height: 650px;
  width: 950px;
  margin-top: 10%;
  transform: translate(-50%, -100%)
}

.meet-team h1{
  text-transform: uppercase;
  margin-bottom: 45px;
  color: white;
  font-size: 40px;
}

.border{
  display: block;
  margin: auto;
  width: 500px;
  height: 4px;
  background: #C70039;
  margin-bottom: 40px;
}

.pics{
  margin: 0 auto;
  position: relative;
  width: 100%;

}

.pics a{
  position: relative;
  display: inline-block;
  margin-left: 10%;
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 20%;
}

.pics a img{
  width: 100%;
  filter: grayscale(100%);
  transition: 0.6s all;
}

.pics a:hover > img{
  filter: none;
}

.bio{
  padding-top: 20px;
  width: 600px;
  margin: auto;
  font-size: 20px;
  color: white;
  text-align: justify;
  height: 0;
  overflow: hidden;
}

.bio:target{
  height: auto;
}

.name{
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}


