/* general text formatting */
*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

h1{
  font-family: sans-serif;
  font-size: 45px;
  color: white;
  width: 900px;
  position: absolute;
  top: 27%;
  right: 45%;
  margin-top: -50px;
  margin-left: -250px;
 
}

body {
   font-family: "Lucida Sans", Verdana, Arial, white;
   font-size: 85%;
   background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./img/calbg.jpeg);
   height: 100vh;
   background-size: cover;
   background-position: center;
}

ul{
   float: right;
   list-style-type: none;
   margin-top: 25px;

}

ul li{
   display: inline-block;
}

ul li a{
   text-decoration: none;
   color: #fff;
   padding: 5px 20px;
   border: 1px solid transparent;
   transition: 0.6s ease;
}

ul li a:hover{
   background-color: #fff;
   color: #000;
}

.logo img{
   float: left;
   width: 10em;
   height: auto;
}


table {
   border: collapse; 
   border-spacing: 0;   
   width: 90%;
   margin: 0 auto;
}
table tbody td{
   /* border: 1pt solid #95BEF0;   */
   line-height: 1.5em;
   vertical-align: top;
   padding: 0.5em 0.75em;
}

legend {
   background-color: #303635 ;
   margin: 0 auto;
   width: 90%;
   padding: 10px;
   text-align: left;
   font-weight: bold;
   font-size: 100%;
}
fieldset {
   margin: 1em auto;
   background-color: #81b5b2;
   width: 60%;
}
form p {
   margin-top: 0.5em;
}

.box {
   border: 1pt solid #95BEF0;
   padding: 0.5em;
   margin-bottom: 0.4em;
}

.rectangle centered {
   background-color: #EBF4FB;
   padding: 0.5em;
}
.centered {
   text-align: center;
}
.paragraph {
   color: white;
   font-style: oblique;
   padding-top: 20em;
   margin-right: 150px;
   margin-left: 150px;
   margin-bottom: 30px
}


.rounded, .rounded:hover {
   border: 1px solid #172d6e;
   border-bottom: 1px solid #0e1d45;
   border-radius: 5px;
   text-align: center;
   color: white;
   background-color: #8c9cbf;
   padding: 0.5em 0 0.5em 0;
   margin: 0.3em;
   width: 7em;
   -webkit-box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 4px 0 #b3b3b3;
   box-shadow: inset 0 1px 0 0 #72b9eb, 0 1px 4px 0 #b3b3b3; 
}
.rounded:hover {
   background-color: #7f8dad;
}

.logo img{
   float: left;
   width: 10em;
   height: auto;
}

.calc{
  width: 500px;
  height: 520px;
  color: #000;
  top: 50%;
  left: 75%;
  padding: 60px 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 8px 8px 50px #000;

}
.front {

   width: 1000px;
   height:500px;
}


.table {
   width: 200px;
   height: 180px;
   padding-left: 100px;
   padding-top: 10px;
}

.field {
   color: white;
   font-weight: bold;
}

.main{
   max-width: 1200px;
   margin: auto;
}

.butcon {
   position: top;
} 
.butcon input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.butcon label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.butcon label:hover {
  background-color: #dfd;
}

.butcon input[type="radio"]:focus + label {
    border: 2px dashed #444;
}

.butcon input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: #4c4;
}
